.intro{
    color: black;
    font-weight: bold;
    background:  url('grass.jpeg');
    height: 100%;
    padding-top: 0;
}

#homeBig{
    text-align: center;
    width: 75%;
  
}
#speil{
    font-size: 1.2em;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('lawnchair.jpg');
    width: 600px;
    height: 399px;
    position: relative;
   right: 150px;
    
    background-repeat: no-repeat;
}
#imageQuote{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('family.jpg');
     color: white;
    text-align: center;
    width: 600px;
    height: 399px;
    position: relative;
    background-repeat: no-repeat;
    
}
#imageQuote h3{
    margin: auto top;
}
footer{
    background-color: #367C2B;
}
footer a:hover{
    color: red;
}
#regNav{
    width: 100%;
    height: 300px;
}
.button{
    width: 100px;
}
 .btn-primary:not(:disabled):not(.disabled).active, 
    .btn-primary:not(:disabled):not(.disabled):active, 
    .show>.btn-primary.dropdown-toggle{
        color: white;
        background-color: white;
        border-color: white;
    }
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 75%;
    text-align: center;
    padding: 50px;

}
#dropdownmenu{
    display: none;
}
#smallTable{
    display: none;
}
#imageQuoteSmall{
    display: none;
     background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('family.jpg');
    position: relative;
    
    background-color: white;
    background-repeat: no-repeat;
    color: white;
    width: 410px;
    text-align: center;
    
    height: 300px;
    margin-top: 25px;
}
#dropdown{
    
    top:0;
            position:absolute;
            right:0;
}
.fa-bars{
    font-size: 50px;
}
#standardNav{
    position: relative;
    width: 100%;
    height: 140px;
    left: 350px;
}
#speilSmall{
    display: none;
     background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('lawnchair.jpg');
    position: relative;
    
    background-color: white;
    background-repeat: no-repeat;
    color: white;
    width: 410px;
    text-align: center;
    
    height: 300px;
    margin-top: 25px;
}
#dmenu{
    display: none;
    


}
#aboutSmall{
    display: none;
}
@media (max-width: 800px) {
   
    #smallTable{
        display: inline-block;
    }
    #about{display: none;}
    #aboutSmall{display: inline-block;}
    #dmenu{display: inline-block;}
    #bigTable{display: none;}
  #standardNav     { display: none; }
  #dropdownmenu { display: inline-block; }
  #speil{display: none;}
  #imageQuote{
    display: none;
  }
  #speilSmall{display: inline-block;}
  #imageQuoteSmall{display: inline-block;}
#homeBig{display: none;}

  
}
.col {
    display: table-cell; 
    width: 25%;
    height: 50%;
    
}
ul{
    list-style: none;
}
#cardBig{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('about.jpg');
    background-repeat: no-repeat;
    width: 600px;
    height: 401px;
    left: 250px;
    margin-bottom: 75px;
  padding: 10px;
    border: 1px solid black;
    box-shadow:  -1px 1px black,
         -2px 2px black,
         -3px 3px black,
         -4px 4px black,
         -5px 5px black;
}
#bigAbout{
    position: relative;
    left: 450px;
}
#emailform{
    text-align: center;
}
#aboutText{
    position: relative;
    left: 115px;
}
#cardSmall{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('about.jpg');
    background-repeat: no-repeat;
    
    width: 350px;
    height: 250px;
    
    margin-bottom: 25px;
  padding: 10px;
    border: 1px solid black;
    box-shadow:  -1px 1px black,
         -2px 2px black,
         -3px 3px black,
         -4px 4px black,
         -5px 5px black;
}
#blockBig{
    color: white;
    
    width: 600px;
    height: 401px;
    align-self: center;
    font-size: 20px;
    

position: relative;
    

    margin: auto;
}
#blockSmall{
    color: white;
    
    width:300px;
    height: 200px;
    align-self: center;
    font-size: 15px;
    

position: relative;
    

    margin: auto;
}
.intro::after{
    content:"";

opacity: 1.0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
nav{
    background-color: white;
    text-align: center;
    position: relative;
}
.jobs{
    position: relative;
    text-align: center;
    font-size: large;
    font-weight: bold;

}
.leftimg{
    position: relative;
    
    width: 22em;
    height: 18em;

}

.relax{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('lawnchair.jpg');
    width: 25%;
    height: 70%;
    position: relative;
    left: 19%;
    top: 20%;
    font-weight: bold;
    font-style: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}



.rightimg{
    position: relative;
    
    width: 22em;
    height: 18em;

}

.carouselText{
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Impact, Charcoal, sans-serif;
}
.mower{
    position: absolute;
    left: 40%;
width: 20%;
height: 25%;
bottom: 10%;
}
#logo{
    width: 150px;
    height: 150px;
    bottom: 25px;
}

#logoSmall{
   width: 100px;
   height: 100px;
    
}

@media (max-width: 800px){
    #logo{
        top: 0px;
    }
}
ul{
    list-style: none;
}
a{
    color: black;
    font-size: 20px;
}
.care{
    text-align: center;

}
h4{
    text-align: center;
}
body{
    background-color: white;
}
#about{
    background-color: white;
    
    
    width: 100%;
    height: 100%
}
@media screen and (max-width: 600px) {
  #bigTable {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

div > a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a:before, a:after, a > span:before, a > span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}
.dropdown-menu{
    text-align: center;
}
.dLink{
    font-weight: bold;
    font: impact helvetica sans-serif;
}
.dLink:hover{
    color: #367C2B;
}

.linkbox{
    position: relative;
    display: inline-block;
    margin-top: auto;
    height: 100%;
}
.navlink {
  padding: 25px;
  display: inline-block;
  top: 80px;
  margin-top: auto;
  
  z-index: 1000;
}
.navlink:hover{
    color: #367C2B;
letter-spacing: 8px;
 
}

.navlink:before, navlink:after {
  width: 0;
  height: 3px;
  content: " ";
  background-color: #367C2B;
  position: absolute;
  top: 0;
  left: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.navlink:before {
  bottom: 0;
  
}
.navlink:after {
  top: 100%;
 
}
.navlink:hover:before, .navlink:hover:after {
    width: 100%;
  left: 0;
  
}
.navlink:hover:after{
    width: 100%;
  left: 0;
}

.modalImg{
    border-width: 0.5em;
    border-color: black;
    border-style: solid;
    
    position: relative;
    left: 5%;
    margin: 2em;
    align-content: center;
}
/*modal styles*/
/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.modal-backdrop{
    display: none;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 180px;
  /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: -180px;
  /* negative value of footer height */
  height: 180px;
  clear: both;
  
}




body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;

}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.carousel {
  width:700px;
  height:450px;
}
a:hover{
    text-decoration: none;
}
.carousel img {

     width: 100%;

     height: 350px;
     box-sizing: border-box;
     filter: brightness(75%);
     
}
.carousel{
    overflow: hidden;
    text-align: center;
}
@media screen and (max-width: 600px){
   .carousel{
       position: relative;
      width: 400px;
      padding-bottom: 0px;
      margin-bottom: 0;
   }
    .carousel img{
        
        height: 300px;
    }
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.footerContainer {
    border-radius: 5px;
    background-color: darkgreen;
    padding: 20px;
}
.flexBox{
     display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.servicePhoto{
    width: 250px;
    height: 250px;
}

td{
    text-align: center;
}
hr{
    margin: 0 auto;
}