#logo{
    max-height: 166px;
    max-width: 166px;
   

}
ul{
    list-style-type: none;
    width: 100%;
    text-align: center;
    background-color: white;
    position: static;
    z-index: 1000;
}
li{
    display: inline-block;
    padding: 20px;    
    font-size: 22px;
    position: static;
    right: 5%;
    color: lightgrey;
    z-index: 1000;
    background-color: white;
}
a{
    color: lightgrey;
}
a:visited{
    color: purple
}
a:hover{
    color: black;
}
#mainNav{
    text-align: center;
}
#logoContainer{
    width: 100%;
    text-align: center;
}
.pagedivider{
        line-height: 1.6em;
    margin-top: -3.9em;
    margin-bottom: 3.9em;
    font-size: 12px;
    border-bottom: 2px lightgrey solid;
}