.intro{
    color: black;
    font-weight: bold;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('grass.jpeg');
    height: 100%;
}
.button{
    width: 100px;
}
 .btn-primary:not(:disabled):not(.disabled).active, 
    .btn-primary:not(:disabled):not(.disabled):active, 
    .show>.btn-primary.dropdown-toggle{
        color: white;
        background-color: white;
        border-color: white;
    }
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 75%;
    text-align: center;
    padding: 50px;

}
#dropdownmenu{
    display: none;
}
@media (max-width: 960px) {
  #standardNav     { display: none; }
  #dropdownmenu { display: inline-block; }
}
.col {
    display: table-cell; 
    width: 25%;
    height: 50%;
    
}
ul{
    list-style: none;
}
.card{
    background-image: url('about.jpg')
}
.card-block{
    color: white;
    background-color: black;
    width: 50%;
    height: 50%;
    align-self: center;
    font-size: 22px;
    

position: relative;
    

    margin: auto;
}
.intro::after{
    content:"";

opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
nav{
    background-color: white;
    text-align: center;
    position: relative;
}
.jobs{
    position: relative;
    text-align: center;
    font-size: large;
    font-weight: bold;

}
.leftimg{
    position: relative;
    
    width: 22em;
    height: 18em;

}
#imageQuote{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('family.jpg');
    position: relative;
    left: 25%;
    color: white;
    text-align: center;
}
.relax{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('lawnchair.jpg');
    width: 25%;
    height: 70%;
    position: relative;
    left: 19%;
    top: 20%;
    font-weight: bold;
    font-style: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}



.rightimg{
    position: relative;
    
    width: 22em;
    height: 18em;

}
#speil{
    font-size: 1.2em;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('lawnchair.jpg');
}
.carouselText{
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Impact, Charcoal, sans-serif;
}
.mower{
    position: absolute;
    left: 40%;
width: 20%;
height: 25%;
bottom: 10%;
}
#logo{
    width: 7%;
    
    position: relative;
    
    top: 5%;

}
ul{
    list-style: none;
}
a{
    color: black;
    font-size: 20px;
}
.care{
    text-align: center;

}
h4{
    text-align: center;
}
body{
    background-color: white;
}
#about{
    background-color: white;
    
    
    width: 100%;
    height: 100%
}

div > a, a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a:before, a:after, a > span:before, a > span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}
.linkbox{
    position: relative;
    padding-top: 55px;
    right: 5%;
}
.navlink {
  padding: 50px;
  display: inline-block;
  padding-bottom: 0px;
   padding-top: 30px;
    right: 12%;
  
  overflow: hidden;
  z-index: 1000;
}
.navlink:before, navlink:after {
  left: 0;
  width: 100%;
  height: 2px;
  background: #0883a4;
}
.navlink:before {
  bottom: 0;
  transform: translateX(-100%);
}
.navlink:after {
  top: 0;
  transform: translateX(100%);
}
.navlink:hover:before, .navlink:hover:after {
  transform: translateX(0);
}

.modalImg{
    border-width: 0.5em;
    border-color: black;
    border-style: solid;
    
    position: relative;
    left: 5%;
    margin: 2em;
    align-content: center;
}
/*modal styles*/
/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.modal-backdrop{
    display: none;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 180px;
  /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: -180px;
  /* negative value of footer height */
  height: 180px;
  clear: both;
  
}




body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;

}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.carousel {
  width:700px;
  height:450px;
}
a:hover{
    text-decoration: none;
}
.carousel img {

     width: 100%;

     height: 450px;
     filter: brightness(75%);

}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
.carousel{
    overflow: hidden;
}
/* Add a background color and some padding around the form */
.footerContainer {
    border-radius: 5px;
    background-color: darkgreen;
    padding: 20px;
}
.flexBox{
     display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.servicePhoto{
    width: 250px;
    height: 250px;
}

td{
    text-align: center;
}