<div class="row">
    <div class="col-lg-12" id="art">
<img src="art.jpg" class="img-responsive center-block" alt="Ashley's Art'">
    </div>
  </div>

<!-- APPAREL ITEMS -->
<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="apparel in apparels">
    <div class="thumbnail">
            <a ng-href="/art/{{art.id}}">
      <img ng-src="{{art.imageurl}}" alt="Art">
      </a>
      <div class="caption">
        <h4 id="title">{{art.title}}</h4>
        <h4 id="price">{{art.price | currency}}</h4>
      </div>
    </div>
  </div>
</div>
</div>