<div class="container gap ">
	<div class="row">
		<div class="col-12 text-center flexBox">
			<h1>We'd love to make you a part of our family</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 flexBox">
			<h4>Enter your information to sign up for e-mail alerts.</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-6 text-center flexBox">
			<input type="text" class="contact-input" placeholder="Name" />
		</div>
	</div>

	<div class="row">
		<div class="col-6 text-center flexBox">
			<input type="text" class="contact-input" ng-model="from" placeholder="Email" />
		</div>
		
	</div>
    <div class="row">
		<div class="col-6 text-center flexBox">
			<input type="text" class="contact-input" placeholder="Phone Number" />
		</div>
	</div>
	

	<div class="row" style="margin-bottom:100px;">
		<div class="col text-center">
			<button class="btn btn-outline-primary" ng-click="sendEmail()">Sign Up</button>
		</div>
	</div>

</div>