
<div class="col-sm-6 col-lg-12" style="align-content: center; width: 100%; background-color: white;" >
    <h1 style="text-align: center; position: relative;">We offer many great services!</h1>
    </br>
<div class="col-sm-6 col-lg-12" style="align-items: center; background-color: white;">

    <table class="table table-sm table-striped col-sm-6 col-lg-12" id="bigTable">
        <tr>
            <td>
        <h2>Cutting Grass!</h2></br>
        <p>Our lawncare experts will leave your lawn</br>
        looking beautiful</p></br>
       <img class="servicePhoto" src="groomed.jpg"></image>
        </td>
        <td><h2>Pulling Weeds!</h2></br>
        <p>No more pesky weeds damaging the beautiful</br>
        plants around your home!</p></br>
         <img class="servicePhoto" src="weed2.jpg"></image></td>
        </tr>
        <tr>
            <td>
        <h2>Garden Care!</h2></br>
        <p>Your flowers and other plants will be</br>
        well taken care of</p></br>
         <img class="servicePhoto" src="garden.jpg"></image>
        </td>
        <td><h2>Minor Land Care</h2></br>
        <p>No More small holes or disturbances in your yard!</br>
        Gopher holes filled in!</p></br>
         <img class="servicePhoto" src="gopher.jpg"></image></td>
        </tr>
        
        <tr>
            <td>
        <h2>Pest Control!</h2></br>
        <p>No more nasty ant beds or wasp nests
        </p></br>
        <img class="servicePhoto" src="wasp.jpg"></image>
        </td>
        <td><h2>And More...</h2></br>
        <p>Call us to inquire about other</br>
        services!</p></br>
         <img class="servicePhoto" src="worker2.jpg" style="height: 300px; bottom: 50px;"></image></td>
        </tr>
        
        
    </table>
    <table class="table table-sm table-striped col-sm-6 col-lg-12" id="smallTable">
        <tr>
            <td>
        <h2>Cutting Grass!</h2></br>
        <p>Our lawncare experts will leave your lawn</br>
        looking beautiful</p></br>
       <img class="servicePhoto" src="groomed.jpg"></image>
        </td>
        </tr>
        <tr>
        <td><h2>Pulling Weeds!</h2></br>
        <p>No more pesky weeds damaging the beautiful</br>
        plants around your home!</p></br>
         <img class="servicePhoto" src="weed2.jpg"></image></td>
        </tr>
        <tr>
            <td>
        <h2>Garden Care!</h2></br>
        <p>Your flowers and other plants will be</br>
        well taken care of</p></br>
         <img class="servicePhoto" src="garden.jpg"></image>
        </td>
        </tr>
        <tr>
        <td><h2>Minor Land Care</h2></br>
        <p>No More small holes or disturbances in your yard!</br>
        Gopher holes filled in!</p></br>
         <img class="servicePhoto" src="gopher.jpg"></image></td>
        </tr>
        
        <tr>
            <td>
        <h2>Pest Control!</h2></br>
        <p>No more nasty ant beds or wasp nests
        </p></br>
        <img class="servicePhoto" src="wasp.jpg"></image>
        </td>
        </tr>
        <tr>
        <td><h2>And More...</h2></br>
        <p>Call us to inquire about other</br>
        services!</p></br>
         <img class="servicePhoto" src="worker2.jpg" style="height: 300px; bottom: 50px;"></image></td>
        </tr>
        
        
    </table>
</div>

</div>
